<nav class="navbar navbar-dark" bg-light style="background-color: #FF4F79;">
    <a href="/dogs" class="badge badge-dark">Home</a>
    <form action="/" method="GET">
      <a href="/" class="badge badge-light">Login</a>
    </form>
</nav>