<nav class="navbar navbar-dark" bg-light style="background-color: #FF4F79;">
    <a href="/dogs">Home</a>
    <form action="/" method="GET">
      <button type="submit">Login</button>
    </form>
</nav>