<nav class="navbar navbar-dark" bg-light style="background-color: #FF4F79;">
    <a class="nav-link" href="/dogs">Home</a>
    <a class="nav-link" href="/users/<%=userId%>">Account  </a>
    
    <form action="/users/logout" method="GET">
      <a class="nav-link" href="/users/logout" >Logout</a>
    </form>
</nav>