<nav class="navbar navbar-dark">
    <a class="nav-link" href="/dogs">Home</a>
    <a class="nav-link" href="/users/<%=userId%>">Account  </a>
    <a class="nav-link" href ="/users/<%=userId%>/request">Messsage</a>
    
    <form action="/users/logout" method="GET">
      <a class="nav-link" href="/users/logout" >Logout</a>
    </form>
</nav>