      <nav>
        <ul>

        <li>
          <a href="/dogs">List of Dogs</a>
        </li>
        <li>
          <form action="/users/logout" method="GET">
            <button type="submit">Logout</button>
          </form>
        </li>
      </nav>