body {
    background: linear-gradient(90deg, rgba(238,174,202,0.7) 0%, rgba(148,187,233,0.7) 100%);
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    position: relative;
}

h2, h3, h4 {
    font-family: 'Blinker', sans-serif;
    text-align: center;
    margin: 5px 20px;
}

a, button {
    font-family: 'Blinker', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

nav {
    font-family: 'Blinker', sans-serif;
    font-size: 25px;
    width: 100%;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(127,156,249,1) 0%, rgba(255,79,121,1) 100%);
}

.navbar {
    display: flex;
    padding: 0;
    justify-content: center;
}

nav a, footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

footer a:hover {
    text-decoration: none;
}

.footer-bar {
    position: relative;
    height: 50px;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(127,156,249,1) 0%, rgba(255,79,121,1) 100%);
}

footer {
    font-family: 'Blinker', sans-serif;
    font-size: 15px;
}

.carousel-caption {
    background:rgba(255,255,255,0.5);
    color: black;
    width: 100%;
    left: 0;
}

#dogsCarousel {
    max-height: 500px;
    height: 500px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.inner, .slide {
    height: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.show {
    max-width: 500px;
    border-bottom: 1px solid black;
}

button {
    margin: 5px;
}

.dog-flex-container {
    justify-content: center;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border: 1px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(241, 241, 241);
}

.card-body {
    border-top: none;
}

.dog-flex-box {
    text-align: center;
    margin: 10px;
    display: inline-grid;

}

.message-container{
    display: block;
    width:100%
    

    /* flex-wrap: wrap; */
    
}

.message-list{
    text-align: center;
    margin: 10px;
    display: flex;
    position:relative;
    flex-direction:column;
    word-wrap: break-word;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}
.flex-box-user, ul {
    padding: 15px;
    max-width: 400px;
    max-height: 300px;
    margin: 0 20px;
    list-style: none;
    display:block;
    position: relative;
}

#personalInfo {
    background-color: rgba(241, 241, 241);
    display: block;
}

#edit-user {
    display: block;
}

.edit-user-card {
    margin: 10px 0 60px;
}
.request-card {
    background-color: rgba(241, 241, 241);
    text-align: center;
    width: 83%;
}

.hideVal {
    display: none;
}

.logo, a.logo {
    display: flex   ;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    color: black;
    text-decoration: none;
    margin: 0 20px 20px 20px;
    font-size: 1.3em;
    text-shadow: 2px 2px grey;
    letter-spacing: 2.5px;
}

#errorMessage {
    color: black;
    font-weight: bold;
}

.dogContainer {
    text-align: center;
}

.dogCard {
    display: inline-block;
    margin: 5px 5px;
}

#logInDiv{
    margin-top: 50px;
}

#registerCardBody{
    border:none;
}

#copyright {
    float: left;
}

#icons {
    float: right;
}




:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
    border: none;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
.card {
    border: 1px solid black;
}

.card-img-top {
    object-fit: cover;
}

.delete-button {
    margin: 0;
}

#delete-button, #edit-button, #add-button, #add-button:hover {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(127,156,249,1) 0%, rgba(255,79,121,1) 100%);
}

#delete-button:hover, #edit-button:hover, #add-button:hover {
    color: black;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(127,156,249,1) 0%, rgba(255,79,121,1) 100%);
}



/* Screen optimization */


/* iPhone 6/7/8 Plus & X */
@media screen and (max-width: 414px) {
    body {
        font-size: 16px;
    }
    .navbar {
        font-size: 1.6rem;
        display: inline-block;
        padding: 0;
        text-align: center;
    }
    h1 {
        font-size: 3.5rem;
    }
    #dogsCarousel {
        height: 300px;
        width: 92%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
    .carousel-caption {
    padding: 0;
    }
    .dog-flex-container {
        width: 92%;
    }
    img.show {
        width: 100%;
    }
    .card-body, .dog-flex-box, .btn {
     margin: 5px 10px;
     padding: 0;
    }
    .update-button {
        width: 85%;
    }
    #copyright {
        font-size: 0.75rem;
        float: none;
    }
    #icons {
        display: none;
    }
}

/* Regular sized iPhones */
@media screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }
    .navbar {
        font-size: 1rem;
    }
    #copyright {
        font-size: 0.6rem;
    }
    #dogsCarousel {
        height: 300px;
        width: 92%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }
    .carousel-caption {
    padding: 0;
    }
    .dog-flex-container {
        width: 92%;
    }
    img.show {
        width: 100%;
    }
    .card-body, .dog-flex-box, .btn {
        margin: 0;
        padding: 0;
    }
    #edit-button, #delete-button {
        display: inline-table;
        width: 80%;
    }
    .mt-5, .my-5 {
        margin-top: 0 !important;
    }
}

.show{
    visibility:visible;

}
.hidden{
    visibility:hidden;
}

.message{
    border:none;
}

.dog-add-container{
    margin: 30px 0;

}
.dog-edit-container{
    margin: 30px 0;
}