<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add A Dog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
      <header>
        <h1>Tindawg</h1>
      </header>

      <nav>
        <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <form action="/users/logout" method="GET">
            <button type='submit'>Logout</button>
          </form>
        </li>
      </nav>

      <main>
        <h2>Add A Dog</h2><br/>
        <input type="text" name="name"/><br/>
        <input type="text" name="gender"/><br/>
        <input type="text" name="breed"/><br/>
        <input type="number" name="age"/><br/>
        <input type="text" name="img"/><br/>
        <textarea type="text" name="description"></textarea>
      </main>    

    </body>
</html>