<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
      <header>
        <h1>User Details</h1>
        
      </header>

        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
        </nav>


      <main>
      <form action="/users/logout" method="GET">
        <button type="submit">Logout</button>
      </form>
      
        <h2>List of Users</h2>
        <ul>
            <% for(let i = 0; i < user.length; i++){ %>
                <li>
                    <a href="/users/<%=user[i]._id%>"><%=user[i].username%></a>
                </li>
            <% } %>
        </ul>

      </main>    

    </body>
</html>